spring:
  application:
    name: gateway
  # Virtual Threads
  threads:
    virtual:
      enabled: true

server:
  port: 8080

# Registro no Eureka
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true